In [1]:
sentence="US unveils world's most powerful supercomputer, beats China."

In [2]:
import pandas as pd

In [3]:
import spacy

In [5]:
nlp=spacy.load('en')

In [6]:
sentence_nlp=nlp(sentence)

In [9]:
spacy_pos_tagged=[(word, word.tag_, word.pos_) for word in sentence_nlp]

In [8]:
pd.DataFrame(spacy_pos_tagged, columns=['Word','POS tag','Tag Type']).T

,0,1,2,3,4,5,6,7,8,9,10
Word,US,unveils,world,'s,most,powerful,supercomputer,",",beats,China,.
POS tag,NNP,VBZ,NN,POS,RBS,JJ,NN,",",VBZ,NNP,.
Tag Type,PROPN,VERB,NOUN,PART,ADV,ADJ,NOUN,PUNCT,VERB,PROPN,PUNCT

In [11]:
import nltk

In [12]:
nltk_pos_tagged=nltk.pos_tag(nltk.word_tokenize(sentence))

In [13]:
pd.DataFrame(nltk_pos_tagged, columns=['Word','POS tag']).T

,0,1,2,3,4,5,6,7,8,9,10
Word,US,unveils,world,'s,most,powerful,supercomputer,",",beats,China,.
POS tag,NNP,JJ,NN,POS,RBS,JJ,NN,",",VBZ,NNP,.

In [14]:
from nltk.corpus import treebank

In [15]:
data=treebank.tagged_sents()

In [16]:
train_data=data[:3500]

In [17]:
test_data=data[3500:]

In [18]:
print(train_data[0])

[('Pierre', 'NNP'), ('Vinken', 'NNP'), (',', ','), ('61', 'CD'), ('years', 'NNS'), ('old', 'JJ'), (',', ','), ('will', 'MD'), ('join', 'VB'), ('the', 'DT'), ('board', 'NN'), ('as', 'IN'), ('a', 'DT'), ('nonexecutive', 'JJ'), ('director', 'NN'), ('Nov.', 'NNP'), ('29', 'CD'), ('.', '.')]

In [19]:
from nltk.tag import DefaultTagger

In [20]:
dt=DefaultTagger('NN')

In [21]:
dt.evaluate(test_data)

0.1454158195372253

In [22]:
dt.tag(nltk.word_tokenize(sentence))

[('US', 'NN'),
 ('unveils', 'NN'),
 ('world', 'NN'),
 ("'s", 'NN'),
 ('most', 'NN'),
 ('powerful', 'NN'),
 ('supercomputer', 'NN'),
 (',', 'NN'),
 ('beats', 'NN'),
 ('China', 'NN'),
 ('.', 'NN')]

In [23]:
from nltk.tag import RegexpTagger

In [25]:
patterns=[(r'.*ing$','VBG'),(r'.*ed$','VBD'),(r'.*es$','VBZ'),(r'.*ould$','MD'),(r'.*\s$','NN$'),(r'.*s$','NNS'),(r'^-?[0-9]+(.[0-9]+)?$','CD'),(r'.*','NN')]

In [26]:
rt=RegexpTagger(patterns)

In [27]:
rt.evaluate(test_data)

0.24039113176493368

In [29]:
rt.tag(nltk.word_tokenize(sentence))

[('US', 'NN'),
 ('unveils', 'NNS'),
 ('world', 'NN'),
 ("'s", 'NNS'),
 ('most', 'NN'),
 ('powerful', 'NN'),
 ('supercomputer', 'NN'),
 (',', 'NN'),
 ('beats', 'NNS'),
 ('China', 'NN'),
 ('.', 'NN')]

In [30]:
from nltk.tag import UnigramTagger

In [31]:
from nltk.tag import BigramTagger

In [32]:
from nltk.tag import TrigramTagger

In [33]:
ut=UnigramTagger(train_data)

In [34]:
bt=BigramTagger(train_data)

In [35]:
tt=TrigramTagger(train_data)

In [36]:
print(ut.evaluate(test_data))

0.8607803272340013

In [37]:
print(ut.tag(nltk.word_tokenize(sentence)))

[('US', 'NNP'), ('unveils', None), ('world', 'NN'), ("'s", 'POS'), ('most', 'JJS'), ('powerful', 'JJ'), ('supercomputer', 'NN'), (',', ','), ('beats', None), ('China', 'NNP'), ('.', '.')]

In [40]:
print(bt.evaluate(test_data))

0.13466937748087907

In [41]:
print(tt.evaluate(test_data))

0.08064672281924679

In [42]:
print(bt.tag(nltk.word_tokenize(sentence)))

[('US', None), ('unveils', None), ('world', None), ("'s", None), ('most', None), ('powerful', None), ('supercomputer', None), (',', None), ('beats', None), ('China', None), ('.', None)]

In [43]:
print(tt.tag(nltk.word_tokenize(sentence)))

[('US', None), ('unveils', None), ('world', None), ("'s", None), ('most', None), ('powerful', None), ('supercomputer', None), (',', None), ('beats', None), ('China', None), ('.', None)]

In [44]:
def combined_tagger(train_data,taggers,backoff=None):
    for tagger in taggers:
        backoff=tagger(train_data, backoff=backoff)
        return backoff

In [45]:
ct=combined_tagger(train_data, taggers=[UnigramTagger,BigramTagger,TrigramTagger],backoff=rt)

In [46]:
print(ct.evaluate(test_data))

0.9008616516603737

In [47]:
print(ct.tag(nltk.word_tokenize(sentence)))

[('US', 'NNP'), ('unveils', 'NNS'), ('world', 'NN'), ("'s", 'POS'), ('most', 'JJS'), ('powerful', 'JJ'), ('supercomputer', 'NN'), (',', ','), ('beats', 'NNS'), ('China', 'NNP'), ('.', '.')]