In [7]:
sentence="US unveils world's most powerful supercomputer, beats China"

In [8]:
import pandas as pd

In [9]:
import spacy

In [10]:
nlp=spacy.load('en')

In [11]:
sentence_nlp=nlp(sentence)

In [12]:
spacy_pos_tagged=[(word, word.tag_, word.pos_) for word in sentence_nlp]

In [14]:
pd.DataFrame(spacy_pos_tagged,columns=['Word','POS tag','Tag type']).T

,0,1,2,3,4,5,6,7,8,9
Word,US,unveils,world,'s,most,powerful,supercomputer,",",beats,China
POS tag,NNP,VBZ,NN,POS,RBS,JJ,NN,",",VBZ,NNP
Tag type,PROPN,VERB,NOUN,PART,ADV,ADJ,NOUN,PUNCT,VERB,PROPN

In [15]:
import nltk

In [16]:
nltk_pos_tagged=nltk.pos_tag(nltk.word_tokenize(sentence))

In [17]:
pd.DataFrame(nltk_pos_tagged, columns=['Word','POS Tag']).T

,0,1,2,3,4,5,6,7,8,9
Word,US,unveils,world,'s,most,powerful,supercomputer,",",beats,China
POS Tag,NNP,JJ,NN,POS,RBS,JJ,NN,",",NNS,NNP

In [19]:
from nltk.corpus import treebank

In [20]:
data=treebank.tagged_sents()

In [21]:
train_data=data[:3500]

In [22]:
test_data=data[3500:]

In [23]:
print(train_data[0])

[('Pierre', 'NNP'), ('Vinken', 'NNP'), (',', ','), ('61', 'CD'), ('years', 'NNS'), ('old', 'JJ'), (',', ','), ('will', 'MD'), ('join', 'VB'), ('the', 'DT'), ('board', 'NN'), ('as', 'IN'), ('a', 'DT'), ('nonexecutive', 'JJ'), ('director', 'NN'), ('Nov.', 'NNP'), ('29', 'CD'), ('.', '.')]